<!doctype html>
<html>

<head>
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Inconsolata:wght@800&family=Noticia+Text:wght@700&family=Cedarville+Cursive&family=Homemade+Apple&display=swap" rel="stylesheet">

</head>

<body>
    <h1 id="budgetTitle"></h1>
    <img src="download.jepg" alt="">

    <p id="des">Budget Tracker for People looking to Purchase their First Home </p>
<br><br>
<section class="forcss1">
    <a href="/login" class="btn btn-default bottom"><span class="fa fa-user"></span>Login</a><br>
   </section>
    <br><br><br>
    <section class="forcss2">
    <a href="/signup" class="btn btn-default bottom"><span class="fa fa-user"></span>Signup</a>
</section>


    </div>
</body>

</html>